APP_NAME="Panadería Pastelería y fuente de soda Alarcón"
BUSINESS_ADDRESS="Jr. Túpac Amaru s/n, esquina de la Plaza Principal, Pampa Cangallo, Ayacucho, Perú"
ADMIN_USER="admin"
ADMIN_PASSWORD="Admin123!"
SESSION_SECRET="cambia_esto_por_una_clave_larga_segura"
USE_MOCK_DB="true"

WHATSAPP_BUSINESS_NUMBER="51900987261"
NEXT_PUBLIC_WHATSAPP_BUSINESS_NUMBER="51900987261"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_BUSINESS_NAME="Panadería Pastelería y fuente de soda Alarcón"
NEXT_PUBLIC_BUSINESS_ADDRESS="Jr. Túpac Amaru s/n, esquina de la Plaza Principal, Pampa Cangallo, Ayacucho, Perú"

SQLSERVER_SERVER="localhost"
SQLSERVER_PORT="1433"
SQLSERVER_DATABASE="PanaderiaPasteleria"
SQLSERVER_USER="panaderia_app"
SQLSERVER_PASSWORD="TuPasswordSeguro123!"
SQLSERVER_ENCRYPT="false"
SQLSERVER_TRUST_CERT="true"
